.input {
  width: 100%;
  border-radius: 0.5rem;
  border: 1px solid #d1d5db;
  background-color: #ffffff;
  padding: 1rem;
  color: #111827;
  outline: none;
  transition: all 150ms ease;
}

.input::placeholder {
  color: #9ca3af;
}

.input:focus {
  border-color: #af821d;
  box-shadow: 0 0 0 1px #af821d;
}
